
		table,th,tb,tr{
			border: 2px solid darkblue;
			border-collapse: collapse ;
		}
		body{
			background-color:#00cc00 ;
			color: ;
			
		}
		table{
			background-color: #00cc00;
		}
		th{
			color:darkblue;
		}
		th,tr{
			break-after: 2px;
		}
		h2,h1 {
			color: darkblue;
		}
         img{
            align-tracks: right;
         }
         .image-container{
         	display: flex;
         	justify-content: space-around;
         }
         img{
         	max-width: 400px;
         	height: auto;
         }
         section{
         	border: 1px solid #ccc;
         	padding: 20px;
         	border-radius: 5px;
         	box-shadow: 0 2px 5px rgba(0, 0, 0, 1.0);
         	background-color: green;
         }
         marquee{
         	color: #ffffff;
         	font-size: 20PX;
         }
         • /* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}


